@font-face {
  font-family: Chango;
  src: url(fonts/Chango/Chango-Regular.ttf);
}

@font-face {
  font-family: Oswald;
  src: url(fonts/Oswald/Oswald-VariableFont_wght.ttf);

}

@font-face {
  font-family: Ranchers;
  src: url(fonts/Ranchers/Ranchers-Regular.ttf);

}

/***********************************************************************/

body {
   display: flex;
    justify-content: center;
    background: repeating-radial-gradient(
      circle,
      #cc00cc,
      #99ccff 10px,
      #99ccff 10px,
      #cc00cc 20px
);;
}

h1 {
  font-family: Chango;
}

p {
  font-family: Oswald;
}

ul {
  font-family: Ranchers;
}

#slider {
	overflow: hidden;
}
#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
	animation: 20s slider infinite;
}
#slider figure img {
	width: 20%;
	float: left;
}

@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}

#container{
  position: relative;
  top: 100px;
  width: 500px;

}

#hero-image {
  display: flex;
  justify-content: center;
}

#hero-image img {
  height: 200px;
}

#content-box{
  background-color: #66ccff;
  padding: 15px;
  margin-bottom: 15px;
}

ul{
  position: relative;
  list-style-type: none;
  padding: 15px;
  display: flex;
  justify-content: center;
  margin-bottom: 13px;
}

a {
  text-decoration: none;
  background: #ffcccc;
  padding: 15px;

}

a:hover{
  background: #ffff00;
}
